html{
  height: 100%;
}

body{
  height: 100%;
}

.jumbotron-fluid{
  display: inline-block;
}

.sidebar{
  height: 100%;
  width: 10%;
  background-color: rgb(39, 43, 87);
}

.workspace{
  width: 90%;
}
