body{
  background-image: url(../pics/doodles.png);
}

body .container{
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: auto;
  width: 30%;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-form{
  display: none;
}
